html, body {
	height: 100%;
	margin: 0;
	padding: 0;
    background-color: white;
}

body {
	overflow: hidden;
}

canvas {
	display: block;
	width: 100%;
	height: 100%;
}

#container3D {
    position: fixed;
    inset: 0;
    z-index: 1000;
}

