@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000000;
    color: white;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.header {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #000000;
    overflow: hidden;
    top: -240px;
}

.header-content {
    position: relative;
    z-index: 10;
}

.header-title {
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
}

.header-subtitle {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
}

.header-description {
    font-size: 1rem;
    margin: 20px 0;
    font-weight: 200;
}

.btn-explore {
    display: inline-block;
    padding: 12px 30px;
    font-size: 1rem;
    color: #fff;
    background: #ff4500;
    text-decoration: none;
    border-radius: 25px;
    transition: background 0.3s ease;
}

#container3D {
    position: fixed;
    inset: 0;
    z-index: 1000;
}

